<div id="postcontent">
  <h1>
    <%= @post.title  %>
  </h1>
  <p>
    <%= @post.content  %>
  </p>
  <div id="comments">
    <h2></h2>
    <%= @post.comments.count %>
    Comments
    <%= render @post.comments %>
    <h3>Leave Comments Here  </h3>
    <%= render "comments/form" %>
  </div>
  <br/>
  <hr/>
  <br/>
  <%= link_to "Edit", edit_post_path(@post), class: "button" %>
  <%= link_to "Delete", post_path(@post), method: :delete, data:{ confirm: "Are you sure?"}, class: "button" %>
</div>
  